/*body {
    background: white    ;
    margin: 15px 15px 15px 15px;
    font-family: sans-serif;
    max-width: 1300px;
}
#title {
    color: midnightblue;
    padding: 10px;
    border: 1px solid;
    font-family: monospace;
    text-transform: uppercase;
    margin-top: 100px;
}   
.foto_perfil {
    position: absolute;
    top: 5px ;
    left: 580px ;
    margin: 15px 15px;
    border: 1px solid black;
    border-radius: 50%;
}
.subtitle  { 
    color: midnightblue;
    margin: 10px;
    
}
.button {
    margin: 10px;
    
    
}
.subpost { 
    color: midnightblue;
    margin: 15px;
}
.text0 {
    font-size: 13px;
    color: midnightblue;
    margin: 15px; 
}
.lista_contato{
    padding-right: 10px;
    text-align: left;
}
.lista_contato li a {
    color: blue ;
}*/
.infofinanceira {
    width: 100px ;
    height: auto ;
}
.camila_designer {
    width: 100px ;
    height: auto ;  
}
/*.rodape {
    font-size: 11px  
}*/